[Unit]
Description=Backlit settings daemon
After=backlit-compositor.service
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/backlit-settings-daemon --serve
Environment=RUST_BACKTRACE=1
SyslogIdentifier=backlit-settings-daemon
StandardOutput=journal
StandardError=journal
Restart=on-failure

[Install]
WantedBy=graphical-session.target
